.h1 {
  color: rgb(3, 3, 3);
}

.paragrafo {
  font-size: 4rem;
  background-color: rgb(167, 220, 241);
}

.box {
  width: 300px;
  height: 300px;
  border: 2px solid rgb(19, 14, 14);
}

.colorido {
  background-color: rgb(0, 0, 0);
}

.cinza {
  background-color: rgb(8, 8, 8);
}
.azul {
  background-color: rgb(138, 180, 226);
}
.verde {
  background-color: rgb(161, 226, 138);
}
.amarelo {
  background-color: rgb(226, 223, 138);
}
.vermelho {
  background-color: rgb(226, 138, 138);
}
.preto {
  background-color: rgb(36, 36, 36);
}
.branco {
  background-color: rgb(255, 255, 255);
}
.roxo {
  background-color: rgb(181, 138, 226);
}
.laranja {
  background-color: rgb(226, 163, 138);
}
.marrom {
  background-color: rgb(181, 138, 97);
}