.header {
    height: 100px;
    background-color: rgb(169, 221, 255);
    padding: 10px;
}

.ulMenu {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 22px;
}

.ulSubMenu {
    font-size: 18px;
    padding-left: 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-in;
}

.liMenu:hover .ulSubMenu {
    max-height: 100vh;
}


.liMenu,
.liSubMenu {
    list-style-type: none;
}

.link:hover {
    color: rgb(0, 0, 0);
}

.btn {
    position: absolute;
    top: 10px;
    right: 10px;
}


@media (max-width:600px) {
    .header {
        display: none;
    } 
}

@media (min-width:601px) {
    .headerMobile {
        display: none;
    }
}